@font-face {
    font-family: heavitas;
    src: url(./assets/fonts/heavitas.ttf);
}

@font-face {
    font-family: bebasneue;
    src: url(./assets/fonts/bebasneue.otf);
}

@font-face {
    font-family: expressway;
    src: url(./assets/fonts/expressway.ttf);
}

:root {
    --background: hsl(0, 0%, 6%);
    --text: hsl(0, 0%, 100%);
    --button: hsl(0, 0%, 25%);
    --buttonShadow: hsl(0, 0%, 17.5%);
}

* {
    font-family: heavitas, sans-serif;
    color: var(--text);
    text-align: center;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
}

html,
body {
    background-color: var(--background);
    width: 100%;
    margin: auto;
    position: relative;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--text);
    text-decoration: none;
}

#nav {
    padding: 1vmax;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}

.navButton {
    background-color: var(--button);
    width: 4vmax;
    height: 4vmax;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vmax;
    border: none;
    display: flex;
    padding: .5vmax;
    cursor: pointer;
    outline: none;
    position: relative;
    background-color: var(--button);
    box-shadow: 0 .5vmax var(--buttonShadow);
    border-radius: 1vmax;
}

.navIcon {
    width: 3vmax;
    height: 3vmax;
}

h2 {
    font-size: 2vmax;
}

section {
    max-width: 86.5vmax;
    margin: auto;
}

#title {
    display: flex;
    width: 50vmax;
}

#logo {
    width: 40vmax;
    margin: 2vmax auto;
}

.version {
    text-align: left;
    display: inline-block;
    width: 4vmax;
    font-size: 1vmax;
    top: 4vmax;
    position: relative;
    height: 4vmax;
}

#svgHolder {
    margin-top: 16vmax;
    margin-bottom: 1vmax;
}

.footer {
    text-align: center;
    font-size: 2vmax;
    margin: 2vmax;
}

#quarkCredit {
    margin: 6vmax auto;
}

.socialsicon {
    height: 4vmax;
    width: 4vmax;
    margin: 0 1vmax;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    transition: .1s ease-in-out;
}

.socialsicon:hover {
    scale: 1.1;
}

.intro {
    font-size: 2vmax;
    margin: 2vmax auto;
    width: 50vmax;
}

#startButton {
    width: 38vmax;
    margin-bottom: .5vmax;
}

#startButton img {
    margin-right: 0;
    margin-left: .5vmax;
}

.notice {
    font-size: 3vmax;
    margin: 2vmax auto;
}

#legend {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1vmax;
}

.legendBox {
    display: flex;
    width: 9vmax;
    height: 6vmax;
    font-size: 1.25vmax;
    justify-content: center;
    align-items: center;
}

#startBox {
    background-color: #ffffff;
    color: #000000;
    outline: 3px solid #808080;
}

#questionBox {
    background-color: var(--button);
}

#resultBox {
    background-image: url("assets/flags/Neocameralism.svg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 4px #000000ff;
}

.tip {
    margin: 2vmax auto;
    font-size: 1.5vmax;
}

.mention {
    margin: 4vmax auto;
    max-width: 90vmax;
    font-size: 1.5vmax;
}

#homeTests {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2vmax !important;
    align-items: center;
    justify-content: center;
}

#homeTests a {
    width: 100%;
}

.homeTest {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto !important;
}

.testIcon {
    display: block;
    height: 8vmax !important;
    width: auto !important;
    margin: 1vmax auto !important;
}

#question {
    font-size: 3vmax;
    width: 60vmax;
    min-height: 4vmax;
    margin: auto;
}

#home,
#quiz,
#results,
#create,
#about {
    padding: 0 0 2vmax 0;
}

#quiz {
    width: fit-content;
    padding: 1vmax 0 2vmax 0;
}

#about {
    width: 80vmax;
    padding: 4vmax 0 0 0;
}

p,
p>a {
    text-align: left;
    font-size: 2vmax;
    font-family: expressway;
    text-transform: none !important;
    margin: 1vmax 0 3vmax 0;
}

p>a {
    color: #00a0ff !important;
}

ul,
li {
    text-align: left;
    font-size: 2vmax;
    font-family: expressway;
    text-transform: none !important;
    margin: 0 0 2vmax 0;
    list-style-position: inside;
    padding-left: 0;
}

.question {
    text-align: left;
    font-size: 2.5vmax;
    margin: 1vmax 0;
}

.screenshot {
    width: fit-content;
    padding: .5vmax 3vmax;
    margin: 1vmax auto;
}

.match {
    font-size: 3vmax;
    width: fit-content;
    max-width: 50vmax;
    min-height: 4vmax;
    margin: 1vmax auto;
}

.quote {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.5vmax;
    width: fit-content;
    max-width: 50vmax;
    min-height: 4vmax;
    margin: 1vmax auto 0 auto;
    padding: 1vmax;
    position: relative;
}

.quote::before,
.quote::after {
    font-size: 3vmax;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.quote::before {
    content: '“';
    left: -2vmax;
}

.quote::after {
    content: '”';
    right: -2vmax;
}

.author {
    font-size: 1.5vmax;
    width: fit-content;
    margin: auto;
    padding: 1vmax;
    position: relative;
}

.author::before {
    font-size: 1.5vmax;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '-';
    left: -.5vmax;
}

.button {
    align-items: center;
    justify-content: center;
    margin: 1vmax auto;
    border: none;
    display: flex;
    padding: 1.5vmax;
    font-size: 2vmax;
    cursor: pointer;
    width: 30vmax;
    outline: none;
    position: relative;
    background-color: var(--button);
    box-shadow: 0 .5vmax var(--buttonShadow);
    border-radius: 1vmax;
}

.navButton:hover,
.button:hover,
.homeTest:hover,
#matches:hover {
    filter: brightness(1.1);
}

.navButton:active,
.button:active,
.homeTest:active {
    box-shadow: none !important;
    top: .5vmax;
}

.button img {
    margin-right: .5vmax;
    width: 2vmax;
}

.button span {
    align-items: center;
    display: flex;
}

.smallButtons {
    display: flex;
    width: 39vmax;
    margin: auto;
}

.small {
    width: 12vmax;
    font-size: 1.5vmax;
    padding: 1vmax;
}

.back {
    width: 15vmax !important;
    margin: auto !important;
}

.flag {
    max-width: 30vmax;
    min-height: 10vmax;
    max-height: 20vmax;
    border-radius: 3vmax;
    margin: auto;
}

#switchBar {
    display: flex;
    width: 44vmax;
    margin: auto;
}

.switch {
    width: 4vmax;
    height: 8vmax;
    margin: auto;
    padding: 1vmax;
}

.switch img {
    padding: 0 !important;
}

#createMatch,
#createQuote,
#createAuthor {
    cursor: pointer;
    min-width: 4vmax;
    border-radius: 1vmax;
}

#createFlag:hover,
#createMatch:hover,
#createQuote:hover,
#createAuthor:hover {
    outline: solid .25vmax var(--text);
}

#createFlag:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

#matches,
option {
    width: 30vmax;
    background-color: var(--button);
    box-shadow: 0 .5vmax var(--buttonShadow);
    border: none;
    padding: 1.5vmax;
    font-size: 1vmax;
    cursor: pointer;
    border-radius: 1vmax;
    text-align: left;
    margin: 2vmax auto;
}

grid {
    margin: 2vmax auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: center;
    color: #ffffff;
    width: 92.5vmax;
    position: relative;
}

#tree1 {
    font-size: .8vmax;
    grid-template-columns: 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr;
    grid-template-rows: repeat(23, 1fr);
    aspect-ratio: 43/46;
}

#tree2 {
    font-size: .7vmax;
    grid-template-columns: 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr;
    grid-template-rows: repeat(21, 1fr);
    aspect-ratio: 43/42;
}

cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    word-wrap: break-word;
    overflow: hidden;
    font-family: bebasneue;
}

cell img {
    height: 100%;
}

.questionCell {
    background-color: var(--button);
    padding: .25vmax;
}

.resultCell {
    padding: .2vmax;
    cursor: pointer;
}

.resultCell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000040;
    z-index: 1;
}

.resultCellText {
    text-shadow: 0 0 2px #000000;
    word-wrap: break-word;
    overflow: hidden;
    font-family: bebasneue;
    z-index: 2;
}

.startCell {
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid #808080;
}

@media only screen and (max-width: 800px) {

    section {
        max-width: 95%;
        margin: auto;
    }

    .screenshot {
        padding: 0;
        width: 100%;
    }

    #home,
    #results,
    #create {
        padding: 0;
    }

    h2 {
        font-size: 6vmin;
    }

    #logo {
        width: 70vmin;
    }

    .notice {
        font-size: 4vmin;
    }

    .mention {
        font-size: 3vmin;
    }

    #homeTests {
        flex-direction: column;
    }

    #homeTests a {
        width: 80vmin;
    }

    .socialsicon {
        height: 12vmin;
        width: 12vmin;
        margin: 0 2vmin;
    }

    .socialsicon:hover {
        scale: 1.1;
    }

    #svgHolder {
        margin-top: 32vmin;
    }

    .footer {
        font-size: 6vmin;
    }

    .intro {
        width: 80vmin;
    }

    #startButton {
        width: 80vmin;
        margin-bottom: 1vmax;
    }

    #startButton img {
        margin-left: 2vmin;
    }

    #question {
        width: 80vmin;
    }

    .button {
        font-size: 6vmin;
        padding: 8vmin 4vmin;
        width: 80vmin;
    }

    .button img {
        width: 6vmin;
        padding-right: 2vmin;
    }

    .smallButtons {
        display: flex;
        width: 84vmin;
        margin: auto;
    }

    .small {
        width: 24vmin;
        font-size: 3vmin;
        padding: 6vmin 2vmin;
    }

    .small img {
        width: 4vmin;
    }

    #switchBar {
        width: 90vmin;
    }

    .switch {
        width: 10vmin;
        height: 20vmin;
        padding: 2vmin;
    }

    .quote {
        max-width: 80vmin;
        font-size: 3vmin;
    }

    #createMatch {
        max-width: 80vmin;
    }

    grid {
        width: 95vmin;
        font-size: .7vmin;
    }

    .questionCell {
        font-size: .8vmin;
    }

    .resultCell {
        font-size: .9vmin;
    }

    .startCell {
        outline: 1px solid #808080;
    }

    #startBox {
        outline: 2px solid #808080;
    }
}